[submodule "readability"]
	path = readability
	url = git://github.com/darkhelmet/node-readability.git
[submodule "promised-io"]
	path = promised-io
	url = git://github.com/darkhelmet/promised-io.git
[submodule "request"]
	path = request
	url = git://github.com/mikeal/request.git
