!!! 5
html
  head
    title kindlebility - Sending articles to your Kindle, one click at a time!
    meta(content="text/html, charset=utf-8", http-equiv="Content-Type")
    meta(content="Send articles to your Kindle with a single click of a bookmarklet.", name="description")
    link(href="http://fonts.googleapis.com/css?family=Lobster&subset=latin", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Josefin+Slab&subset=latin", rel="stylesheet", type="text/css")
    link(href="/static/style.css", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(type="text/javascript", src="/static/app.js")
    script(type='text/javascript')
      HOST = '#{host}';
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2062105-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    .center
      h1.text_shadow kindlebility
      small#tagline Sending articles to your Kindle, one click at a time!
      iframe#video(src="http://player.vimeo.com/video/17458819?byline=0&amp;portrait=0", width="400", height="250", frameborder="0")
      small#blog
        | Want more than just a silly screencast and a textbox asking for an email?
        a(href="http://blog.darkhax.com/2011/01/20/the-what-why-and-how-of-kindlebility") Read This!
      #form
        label.text_shadow(for="email") Your Kindle Email:
        = ' '
        input#email.round(type="text", placeholder="johndoe@kindle.com")
      #extra
        br
        small Drag the link below to your bookmarks bar, and add
        small
          strong kindle@darkhelmetlive.com
        small to your Kindle Approved E-mail List
        br
        a#bookmarklet(href="#")
        br
        a#iosLink(href="#") On an iPad/iPhone/Android/whatever?
        br
        textarea#ios
      br
      small#footer
        | Questions, comments, problems? &middot;
        a(href="http://twitter.com/darkhelmetlive") Twitter
        = " &middot; "
        a(href="http://blog.darkhax.com/contact") Email
        = " &middot; "
        a(href="https://convore.com/kindlebility/") Convore
        = " &middot; "
        a(href="https://github.com/darkhelmet/kindlebility") Source Code