!!! 5
html
  head
    title kindlebility - Sending articles to your Kindle, one click at a time!
    meta(content="text/html, charset=utf-8", http-equiv="Content-Type")
    meta(content="Send articles to your Kindle with a single click of a bookmarklet.", name="description")
    link(href="http://fonts.googleapis.com/css?family=Lobster&subset=latin", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Josefin+Slab&subset=latin", rel="stylesheet", type="text/css")
    link(href="/style.css", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="/zepto.js")
    script(type="text/javascript", src="/app.js")
  body
    .center
      h1.text_shadow kindlebility
      small#tagline Sending articles to your Kindle, one click at a time!
      iframe#video(src="http://player.vimeo.com/video/17458819?byline=0&amp;portrait=0", width="400", height="250", frameborder="0")
      #form
        label.text_shadow(for="email") Your Kindle Email:
        input#email.round(type="text", placeholder="johndoe@kindle.com")
      #extra
        br
        small Drag the link below to your bookmarks bar, and add
        small
          strong kindle@darkhelmetlive.com
        small to your Kindle Approved E-mail List
        br
        a#bookmarklet(href="#")
      br
      small#footer Questions, comments, problems?
        a(href="http://twitter.com/darkhelmetlive") @darkhelmetlive
        &middot;
        a(href="https://github.com/darkhelmet/kindlebility") Get the source!