* {
  font-size: 130%;
}

body {
  font-family: 'Josefin Slab', arial, serif;
}

h1 {
  font-family: 'Lobster', arial, serif;
  font-size: 300%;
  margin: 0px auto;
}

#tagline {
  display: block;
  margin-bottom: 50px;
}

#info {
  display: block;
  text-align: left;
  width: 50%;
  margin: 0px auto;
  margin-bottom: 25px;
}

#footer {
  display: block;
}

.center {
  text-align: center;
}

small {
  font-size: 50%;
  display: none;
}